.rtcio-badge {
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0.2;
  transition: opacity ease-in-out 0.2s;
}

.rtcio-badge:hover {
  opacity: 1;
}

.rtcio-badge svg {
  height: 64px;
  width: 64px;
}
